@define-mixin atSmall{
  @media only screen and (min-width: 530px){
    @mixin-content;
  }
}

@define-mixin atMedium{
  @media only screen and (min-width: 760px){
    @mixin-content;
  }
}

@define-mixin atLarge{
  @media only screen and (min-width: 1200px){
    @mixin-content;
  }
}

@define-mixin clearfix{
  &::after{
    content: "";
    clear: both;
    display: table;
  }
}
