.row{

  @mixin clearfix;

  &--t-padding{
    padding-top: 80px;
  }

  &--gutter-small{
    margin-right: -45px;
  }

  &--gutter{
    margin-right: -65px;
  }

  &--gutter-larger{
    margin-right: -100px;
  }

  &--gutter-small > div{
    padding-right: 45px;
  }

  &--gutter > div{
    padding-right: 65px;
  }

  &--gutter-larger > div{
    padding-right: 100px;
  }

  &--b-margin-until-medium{
    margin-bottom: 1rem;
  }

/* mixin atMedium */
  @mixin atMedium{

    &--b-margin-until-medium{
      margin-bottom: 0;
    }

    &__medium-4{
      float: left;
      width: 33.33%;
    }

    &__medium-4--larger{
      width: 37%;
      float: left;
    }

    &__medium-6{
      width: 50%;
      float: left;
    }

    &__medium-8{
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller{
      width: 63%;
      float: left;
    }
  }
/* mixin atMedium end */

/* mixin atLarge start */
  @mixin atLarge{

    &--b-margin-until-large{
      margin-bottom: 0;
    }

    &__large-4{
      float: left;
      width: 33.33%;
    }

    &__large-4--larger{
      width: 37%;
      float: left;
    }

    &__large-6{
      width: 50%;
      float: left;
    }

    &__large-8{
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller{
      width: 63%;
      float: left;
    }

  }
/* mixin atLarge end */

  /* Begin Equal Height Rules  */
  &--equal-height-at-medium{
    @mixin atMedium{
      display: flex;

      & > div{
        float: none;
        display: flex;
      }
    }
  }

  &--equal-height-at-large{
    @mixin atLarge{
      display: flex;

      & > div{
        float: none;
        display: flex;
      }
    }
  }
}
