.site-header{
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
  transition: background-color .3s ease-out;

  &--is-expanded{
    background-color: rgba($mainBlue, .55);
  }

  @mixin atMedium{
    background-color: rgba($mainBlue, 0.3);
  }

  &__btn-container{

    @mixin atMedium{
      float: right;
    }
  }

  &__logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 25px 36px;

    @mixin atMedium{
      left: auto;
      transform: translateX(0) scale(1);
    }
  }

  &__logo__graphic{
    text-indent: -9999px;
  }

  &__menu-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 19px;
    width: 20px;
    z-index: 10;

    &::before{
      content: "";
      background-color: #fff;
      width: 20px;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform .3s ease-out;
      transform-origin: 0 0;
    }

    &__middle{
      background-color: #fff;
      width: 20px;
      height: 3px;
      position: absolute;
      top: 8px;
      left: 0;
      transition: all 3s ease-out;
      transform-origin: 0 50%;
    }

    &::after{
      content: "";
      background-color: #fff;
      width: 20px;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: transform .3s ease-out;
      transform-origin: 0 0;
    }

    @mixin atMedium{
      display: none;
    }
  }

  &__menu-icon--close-x{
    &::before{
      transform: rotate(45deg) scaleX(1.3);
      opacity: 1;
    }

    .site-header__menu-icon__middle{
      transform: scaleX(0);
      opacity: 0;
    }

    &::after{
      transform: rotate(-45deg) scaleX(1.35) translateX(-3px);
    }
  }

  &__menu-content{
    padding-top: 90px;
    opacity: 0;
    position: relative;
    z-index: -10;
    text-align: center;
    transform: scale(1.2);
    transition: all .3s ease-out;

    @mixin atMedium{
      padding-top: 0;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }

    &--is-visible{
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}
